<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/torrents">
      <img src="assets/logo.png" />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      [attr.aria-expanded]="showMobileMenu()"
      [class.is-active]="showMobileMenu()"
      (click)="toggleMobileMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [class.is-active]="showMobileMenu()">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/torrents">
        <span class="icon">
          <i class="fas fa-table" aria-hidden="true"></i>
        </span>
        <span>Torrents</span>
      </a>
      <a class="navbar-item" routerLink="/add">
        <span class="icon">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </span>
        <span>Add New Torrent</span>
      </a>
      <a class="navbar-item" routerLink="/settings">
        <span class="icon">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </span>
        <span>Settings</span>
      </a>
      @if (profile(); as profile) {
        <a class="navbar-item" href="{{ providerLink }}" target="_blank" rel="noopener">
          @if (premiumDays() > 0) {
            <span>Premium: {{ premiumDays() }} Days</span>
          } @else {
            <span>Premium: Expired</span>
          }
          <span class="premium-dot" [class.active]="premiumDays() > 0"></span>
        </a>
      }
    </div>

    <div class="navbar-end">
      <a
        href="https://github.com/krakn-dev/alldebrid-client"
        target="_blank"
        rel="noopener"
        class="navbar-item has-text-grey"
      >
        v{{ version() }}
      </a>
      <a class="navbar-item" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

@if (profile(); as profile) {
  @if (!profile.disableUpdateNotification && profile.updateAvailable) {
    <div class="notification is-warning">
      <span>
        AllDebrid Client {{ profile.latestVersion }} is available. You are currently on {{ profile.currentVersion }}.
      </span>
      <a href="https://github.com/krakn-dev/alldebrid-client/releases/latest" target="_blank" rel="noopener">
        View release
      </a>
    </div>
  }
}
